header(am-HomepageHero)
  h1(am-type="light")
    span(am-type="h0 middle") [
    span(am-type="h1 middle") AMCSS
    span(am-type="h0 middle") ]
  h2(am-type="h3 light italic" am-layout="pt2")
    span(am-type="normal") Attribute Modules
    |  for CSS
main
  section(am-Example)
    pre: code
      = '<div '
      span(am-Diff='-')= 'class="row"'
      = ' '
      span(am-Diff='+')= 'am-Row'
      = '>\n    <div '
      span(am-Diff='-')= 'class="col-xs-12 col-sm-8"'
      = ' '
      span(am-Diff='+')= 'am-Col="xs:12 sm:8"'
      = '\n      <div '
      span(am-Diff='-')= 'class="box"'
      = ' '
      span(am-Diff='+')= 'am-Demo="box"'
      = '>Responsive</div>'
      = '\n    </div>'
      = '\n  </div>'
